marquee {
  background-color: #031634;
    color: #E8DDCB;
    top:200px;
    font-size: 40px;
   font-family: 'Big Shoulders Display', cursive;
   }
#pic{
   
    width: 50px;
    height: 50px;
   
}
#n{font-family: 'Kiwi Maru', serif;
    font-size:30px;
    font-weight: bolder;
}
#welcome{display: table;
    height: 300px;
    width:1160px;
    position:absolute;
    background-color: #E8DDCB;
}
#welcome p{font-size:20px;
}
#menu{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 26px;
}

img{
    margin-top: 50px;
    margin-bottom: 20px;
}
.carousel-inner p{
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: bold;
}
.carousel-inner img{
   width: 30%;
}
#item img{
    width: 30%;
    border-radius: 10px;
}
body {
     border: 5px ridge ;
  
 

    font-family: 'Newsreader', serif;
    float: none;
    margin: 20px;
   font-size: 20px;
    background-color: #E8DDCB;
}
#n {
    font-size : 26px;
}
#s p{
    display: inline-block;
    font-size:25px;
    text-align: left;
    color:#036564;
    font-weight:bolder; 
}
#menu {
    background-color:#031634 ;
    color: #E8DDCB;
    font-family: 'Big Shoulders Display', cursive;
}
.page-header {
 color:#031634;  
  font-weight: bolder;
    font-size: 35px;
}
#subhajit_laha {
     display: inline-block;
    border: 5px ridge;
    margin-left: 0px;
    width:400px;
    height: 550px;
    
}
#parul {
     display: inline-block;
    border: 5px ridge;
    margin-left: 0px;
    width:400px;
    height: 550px;
}
#sanchita {
     display: inline-block;
    border: 5px ridge;
    margin-left: 0px;
    width:400px;
    height: 550px;
}
#teaching {
    width:50px;
   height:50px;
}
#span {
    display: flex;
}
.rf {
    border: ridge 5px ;
}